doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ለቀማScript
    link(rel="stylesheet", href="style.css")
  body
    
    h3|በለቀማ ኮዶችን ብቻ ሳይሆን ሂወተዎን ይቀይሩ 
    div.search-container
        
      form(action="/render", method="post")
        input(type="text", placeholder="code snippet...", name="q")
        button(type="submit", class="btn") Submit
    div.content-container
        code #{value}

