<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="bg"></div>
    <div class="container">

        <h1>አቢሲኒያ Login</h1>
        <form method="POST" action="/login">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login Now</button>
        </form>
        <p>Don't have an account? <a href="/signup">Signup</a></p>
        
        </div>
    </div>
</body>
</html>
