body, html{
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #c60d0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #e61616;
}

a {
    color: #c60d0d;
}
